<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>词库列表 </title>

    <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    <style>
        #listajax .table_a tbody td {
            text-align: center;
        }
    </style>
</head>

<body>
    <style>
        .tr_color {
            background-color: #9F88FF
        }
    </style>
    <div class="div_head">
        <span>
            <span style="float: left;">当前位置是：词库管理-》词库列表</span>
            <span style="float: right; margin-right: 8px; font-weight: bold;">
                <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/add">【添加词库】</a>
            </span>
        </span>
    </div>
    <div></div>





    <div style="font-size: 13px; margin: 10px 5px;" id="listajax 将其提取到另一个页面访问">
        <table class="table_a" border="1" width="100%">
            <thead>
                <tr style="background-color:#0094ff;color:#fff; font-size:18px">
                    <th>序号</th>
                    <th>词</th>
                    <th>是否及物</th>
                    <th>jwbujw </th>
                    <th>dcgoucheng</th>
                    <th>zzbzz</th>
                    <th>dcxingtai</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$info item =good key =k}
                <tr id="product1">
                    <td>{$good.id}</td>
                    <td>
                        <a href="#">{$good.ci}</a>
                    </td>
                    <td>{$good.bjdaima}</td>
                    <td>{$good.jwbujw }</td>
                    <td>
                        {$good.dcgoucheng }
                    </td>
                    <td>
                        {$good.zzbzz }
                    </td>
                    <td>{$good.dcxingtai}</td>
                    <td>
                        <a href="{$smarty.const.__CONTROLLER__}/del/id/{$good.id}">删除</a>
                    </td>
                </tr>
                {/foreach}
                <tr>
                    <td colspan="20" style="text-align: center;">
                        {$pagelist}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>