<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>藏语动词搜索</title>
	<meta name="keywords" content="Panc.cc-藏语网盘搜索,网盘搜索,藏语搜索,网盘解析,百度网盘搜索,藏语社区,专业网盘搜索,藏语分享,藏语,资源分享,资源问答,藏语网盘,panc.cc" />
	<meta name="description" content="藏语专业网盘搜索引擎，百度云网盘搜索工具，百度云网盘解析工具，结合藏语社区，聚集了大量热爱分享资源的朋友，资源求助，资源问答，我们都有共同的分享精神。" />
	<link rel="stylesheet" href="{$smarty.const.CSS_URL}normalize.css" />
	<link rel="stylesheet" href="{$smarty.const.CSS_URL}index.css" />
	<style>
		.hot_word p a {
			margin: 0px 10px;
			font-family: Microsoft Himalaya;
			font-size: 25px;
		}
	</style>
</head>

<body style="background: url('{$smarty.const.IMG_URL}59926e94e27df.jpg') no-repeat fixed bottom center;background-size: cover;">
	<!--  nav导航部分start  -->
	<div class="nav">
		<div class="w">

		</div>
	</div>
	<!--  nav导航部分end  -->
	<!-- container部分start -->
	<div class="container">
		<h1 class="logo-title"></h1>
		<div class="input-group">
			<form action="{$smarty.const.__SELF__}" method="post">
				<input type="text" name="ci" placeholder="请输入你要查询的藏语动词" />

				<input type="submit" class="btn" value="搜 索" style="text-align: left;">
			</form>
		</div>
	</div>


</body>

</html>